#NUMBER 1: DATA PREPARATION

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
print("Done importing libraries")

Done importing libraries

In [5]:
#path_to_file= "C:/Users/necbanking/Desktop/2.1 modular/fifa_AI/"
df=pd.read_csv("players_20.csv")
df_19=pd.read_csv("players_19.csv")

df.head()

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3

In [6]:
df_19.head()

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,33,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
1,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,31,1987-06-24,170,72,Argentina,FC Barcelona,...,63+2,61+2,61+2,61+2,63+2,58+2,47+2,47+2,47+2,58+2
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,26,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,65+3,60+3,60+3,60+3,65+3,60+3,47+3,47+3,47+3,60+3
3,193080,https://sofifa.com/player/193080/david-de-gea-...,De Gea,David De Gea Quintana,27,1990-11-07,193,76,Spain,Manchester United,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,192985,https://sofifa.com/player/192985/kevin-de-bruy...,K. De Bruyne,Kevin De Bruyne,27,1991-06-28,181,70,Belgium,Manchester City,...,77+3,77+3,77+3,77+3,77+3,73+3,66+3,66+3,66+3,73+3

In [7]:
df = df.drop('dob', axis =1)
df = df.drop('weight_kg', axis =1)
df = df.drop('international_reputation', axis =1)
df = df.drop('real_face', axis =1)
df = df.drop('release_clause_eur', axis =1)
df = df.drop('player_tags', axis =1)
df = df.drop('team_jersey_number', axis =1)
df = df.drop('loaned_from', axis =1)
df = df.drop('joined', axis =1)
df = df.drop('contract_valid_until', axis =1)
df = df.drop('nation_position', axis =1)
df = df.drop('nation_jersey_number', axis =1)
df = df.drop('player_traits', axis =1)
df = df.drop('sofifa_id', axis =1)
df = df.drop('long_name', axis =1)

In [8]:
df_19 = df_19.drop('dob', axis =1)
df_19 = df_19.drop('weight_kg', axis =1)
df_19 = df_19.drop('international_reputation', axis =1)
df_19 = df_19.drop('real_face', axis =1)
df_19 = df_19.drop('release_clause_eur', axis =1)
df_19 = df_19.drop('player_tags', axis =1)
df_19 = df_19.drop('team_jersey_number', axis =1)
df_19 = df_19.drop('loaned_from', axis =1)
df_19 = df_19.drop('joined', axis =1)
df_19 = df_19.drop('contract_valid_until', axis =1)
df_19 = df_19.drop('nation_position', axis =1)
df_19 = df_19.drop('nation_jersey_number', axis =1)
df_19 = df_19.drop('player_traits', axis =1)
df_19 = df_19.drop('sofifa_id', axis =1)
df_19 = df_19.drop('long_name', axis =1)

#NUMBER 2: CORRELATION

In [9]:
#splitting data
train_data, test_data=train_test_split(df,test_size=0.25)
print("Leingth of training data is:"+str(len(train_data)))
print("Leingth of test data is:"+str(len(test_data)))

Leingth of training data is:13708
Leingth of test data is:4570

In [10]:
#selecting features
target_feature='overall'

#finding features that arecorrelated to the overall column
feature_corr=train_data.corr(method='pearson')[target_feature]
feature_corr=feature_corr.sort_values(ascending=False)
#print thetop ten correlations with the target value
print(feature_corr[1:21])
corr_matrix = df.corr()
corr_matrix['overall'].sort_values(ascending=False)

##

gk_diving                  0.947271
gk_reflexes                0.946544
gk_positioning             0.942613
gk_handling                0.924384
movement_reactions         0.865163
gk_kicking                 0.781243
mentality_composure        0.722773
passing                    0.686709
potential                  0.647393
value_eur                  0.640589
dribbling                  0.606655
wage_eur                   0.581557
power_shot_power           0.568533
physic                     0.513771
mentality_vision           0.511100
shooting                   0.502916
attacking_short_passing    0.501772
gk_speed                   0.491738
skill_long_passing         0.487739
age                        0.463627
Name: overall, dtype: float64

overall                       1.000000
gk_diving                     0.948912
gk_reflexes                   0.947823
gk_positioning                0.944758
gk_handling                   0.925025
movement_reactions            0.864526
gk_kicking                    0.790903
mentality_composure           0.719992
passing                       0.683954
potential                     0.646650
value_eur                     0.638230
dribbling                     0.601190
wage_eur                      0.573578
power_shot_power              0.567504
physic                        0.517214
mentality_vision              0.509251
attacking_short_passing       0.503157
shooting                      0.497881
skill_long_passing            0.487289
gk_speed                      0.480652
age                           0.464305
skill_ball_control            0.457052
power_long_shots              0.425081
skill_curve                   0.415521
skill_moves                   0.401261
mentality_aggression          0.399434
attacking_volleys             0.394152
skill_fk_accuracy             0.389790
attacking_crossing            0.389078
skill_dribbling               0.370639
power_stamina                 0.370344
power_strength                0.361543
mentality_positioning         0.356025
mentality_penalties           0.347950
attacking_heading_accuracy    0.345784
attacking_finishing           0.342372
defending                     0.334792
mentality_interceptions       0.315582
defending_marking             0.303075
power_jumping                 0.267553
movement_agility              0.253464
defending_standing_tackle     0.249891
weak_foot                     0.230276
defending_sliding_tackle      0.219560
movement_sprint_speed         0.199009
movement_acceleration         0.186320
pace                          0.158866
movement_balance              0.103872
height_cm                     0.039945
goalkeeping_positioning      -0.006408
goalkeeping_reflexes         -0.012775
goalkeeping_diving           -0.013239
goalkeeping_handling         -0.013716
goalkeeping_kicking          -0.017393
Name: overall, dtype: float64

#NUMBER 3: REGRESSION MODEL

In [11]:
#Training Rgression model
features=corr_matrix['overall'].sort_values(ascending=False)
features=['potential','value_eur','wage_eur','attacking_short_passing','skill_long_passing','age','skill_ball_control','skill_curve','skill_moves','attacking_volleys']
X_train=df[features]
y_train=df['overall']
r = LinearRegression()
r.fit(X_train,y_train )
print(r.score(X_train,y_train))

0.8812484264381563

In [12]:
#copying top 20 relavent features to be used by model
features=feature_corr[1:14].index.tolist()
print(features)

['gk_diving', 'gk_reflexes', 'gk_positioning', 'gk_handling', 'movement_reactions', 'gk_kicking', 'mentality_composure', 'passing', 'potential', 'value_eur', 'dribbling', 'wage_eur', 'power_shot_power']

In [13]:
#training the model
x_train=train_data[features]
y_train=train_data[target_feature]

#replace all empty cells with zero
x_train.fillna(0,inplace=True)

#using the LinearRegression method to build the model
model=LinearRegression().fit(x_train,y_train)
#print score
print("Score:"+str(model.score(x_train,y_train)))

Score:0.8576086511834482

C:\Users\LEE\AppData\Local\Programs\PythonCodingPack\lib\site-packages\pandas\core\frame.py:4311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

#NUMBER 4: A PROCESS OF OPTIMISATION

In [14]:
#testing the model usint the 25% of the players_20.csv(df) dataframe
#sort test data first
test_data=test_data.sort_values([target_feature], ascending=False)

x_test=test_data[features]
x_test.fillna(0,inplace=True)
y_test=test_data[target_feature]

#start predicting
y_predict=model.predict(x_test)
#add new column called predicted 
test_data['predicted']=y_predict
rating=((y_predict-y_test)/y_test*100)
#add anew column called accuracy
test_data['difference']=rating
test_data[["short_name","overall","predicted","difference"]]

C:\Users\LEE\AppData\Local\Programs\PythonCodingPack\lib\site-packages\pandas\core\frame.py:4311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

              short_name  overall  predicted  difference
1      Cristiano Ronaldo       93  99.507948    6.997794
4              E. Hazard       91  99.784191    9.652957
9               M. Salah       90  96.777310    7.530344
21       Sergio Busquets       89  92.592485    4.036500
22          A. Griezmann       89  96.755060    8.713550
...                  ...      ...        ...         ...
18272          P. Martin       48  50.175464    4.532217
18249      Shan Huanhuan       48  54.887036   14.347991
18269       Huang Jiahui       48  53.599321   11.665252
18266          Wang Peng       48  55.001454   14.586363
18260      A. De Angelis       48  54.228722   12.976505

[4570 rows x 4 columns]

In [16]:
#preproccessing features
df_19['potential'] = pd.to_numeric(df_19['potential'],errors='coerce')
df_19['value_eur'] = pd.to_numeric(df_19['value_eur'],errors='coerce')
df_19['wage_eur'] = pd.to_numeric(df_19['wage_eur'],errors='coerce')
df_19['attacking_short_passing'] = pd.to_numeric(df_19['attacking_short_passing'],errors='coerce')
df_19['skill_long_passing'] = pd.to_numeric(df_19['skill_long_passing'],errors='coerce')
df_19['age'] = pd.to_numeric(df_19['age'],errors='coerce')
df_19['skill_ball_control'] = pd.to_numeric(df_19['skill_ball_control'],errors='coerce')
df_19['skill_curve'] = pd.to_numeric(df_19['skill_curve'],errors='coerce')
df_19['skill_moves'] = pd.to_numeric(df_19['skill_moves'],errors='coerce')    
df_19['attacking_volleys'] = pd.to_numeric(df_19['attacking_volleys'],errors='coerce')

#NUMBER 5

In [17]:
#selecting features from the 2019 dataset
features=['potential','value_eur','wage_eur','attacking_short_passing','skill_long_passing','age','skill_ball_control','skill_curve','skill_moves','attacking_volleys']
x_test=df_19[features]
x_test.fillna(0,inplace=True)
y_test=df_19['overall']
predict=r.predict(x_test)
df_19['predicted']=predict
df_19[['short_name','overall','predicted']]

C:\Users\LEE\AppData\Local\Programs\PythonCodingPack\lib\site-packages\pandas\core\frame.py:4311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

              short_name  overall   predicted
0      Cristiano Ronaldo       94  104.912550
1               L. Messi       94  108.949383
2              Neymar Jr       92  109.152640
3                 De Gea       91   96.647792
4           K. De Bruyne       91  104.416152
...                  ...      ...         ...
17765        P. Phillips       47   51.458352
17766         A. Kaltner       47   50.351719
17767        Ma Junliang       47   52.430084
17768          C. Ehlich       47   49.764005
17769           E. Tweed       47   49.263692

[17770 rows x 3 columns]

In [18]:
import pickle

In [19]:
filename="player_rating.pkl"
outfile=open(filename,'wb')
pickle.dump(model,outfile)
outfile.close()